@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --index: calc(1vw + 1vh);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: calc(var(--index) * 0.2);
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  font-size: 18px;

  background-color: #f1f1f1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.3);
  margin-top: calc(var(--index) * 0.2);
  #input {
    padding: calc(var(--index) * 0.3);
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.textarea,
.keyboard {
  // height: 10px;
  width: 100%;
  padding: 20px;

  font-size: 16px;
  @media (max-width: 1000px) {
    font-size: calc(var(--index) * 0.7);
  }
  

  background-color: #a3a3a4;
  border-radius: 10px;
}

.info-first,
.info-last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(calc(var(--index) * 0.3), 7px);
    .row-1,
    .row-2,
    .row-3,
    .row-4,
    .row-5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: min(calc(var(--index) * 0.4), 10px);
        height: 40px;
        width: 80%;

        transition: width 0.5s ease-in-out;

        @media (max-width: 1000px) {
          width: 100%;
        }

        // background-color: pink;
    }

    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: calc(var(--index) * 2.6);

      cursor: pointer;
      color: #ffffff;
      background-color: #3a424e;
      border-radius: 5px;
      user-select: none;
      transition: all 0.25s ease-in-out;

      &:active {
        color: #ffffff;
        background-color: #5571ee;
      }
    }

    .dark {
      color: #696764;
      background-color: #1c232e;
    }

    .middle {
      width: calc(var(--index) * 3.2);
    }

    .large {
      width: calc(var(--index) * 5);
    }

    .row-1 .btn:last-child {
      width: calc(var(--index) * 6);
    }

    .row-3 .btn:first-child,
    .row-3 .btn:last-child,
    .row-4 .btn:first-child {
      width: calc(var(--index) * 5.8);
    }

    // .row-4 .btn:last-child {
    //   width: calc(var(--index) * 2.9);
    // }

    .space {
      width: calc(var(--index) * 19.7);
    }
    .btn.center {
      padding-top: 7px;
      justify-content: start;
    }
    .caps {
      align-self: flex-end;
      height: 5px;
      width: 5px;
  
      background-color: #808080;
      border-radius: 50%;
      transform: translateX(calc(var(--index) * -0.3));
      transition: background-color 0.2s ease-in-out;
      &.active {
        background-color: #1e4620;
      }
    }
}

